<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../templates/help.xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:fc="http://java.sun.com/jsf/composite/comps">
                
    <ui:define name="title">Naming Tool User's Manual</ui:define>
                
    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">User's Manual</h2>
                        <p>
                            Below are the frequently asked questions regarding the naming tool.
                        </p>
                        <h3 style="margin-top: -1px; margin-bottom: 1px">View registered device names</h3>
                        <p>
                            <ul>
                            <li>Select Device Registry from the menu bar.</li>
                            </ul>
                        </p>
                        <h3 style="margin-top: -1px; margin-bottom: 1px">Register a new device name</h3>
                        <p>
                            <ul>
                            <li>If you are not logged in, you must first log in.</li>
                            <li>Click on <i>Device Registry</i> tab in menu bar.</li>
                            <li>Open <i>Actions</i> menu and select <i>Add</i>.</li>
                            </ul>
                        </p>
                        <h3 style="margin-top: -1px; margin-bottom: 1px">Submit a device name changes</h3>
                        <p>   
                            <ul>             
                            <li>If you are not logged in, you must first log in.</li>
                            <li>Click on <i>Device Registry</i> tab in menu bar.</li>
                            <li>Select a device name you would like to change.</li>
                            <li>Open <i>Actions</i> menu.</li>
                            <li>Here you can select a desired option.</li>
                            </ul>                
                        </p>
                        <h3 style="margin-top: -1px; margin-bottom: 1px">Submit a name element change request</h3>
                        <p>   
                            <ul>             
                            <li>If you are not logged in, you must first log in.</li>
                            <li>Click on <i>Area Structure</i> or <i>Device Structure</i> tab in menu bar, 
                                        depending which structure you would like to propose changes to.</li>
                            <li>Select a node or multiple nodes from the tree view.</li>
                            <li>Open <i>Actions</i> menu.</li>
                            <li>Here you can select a desired option.</li>
                            </ul>                
                        </p>
                        <h3 style="margin-top: -1px; margin-bottom: 1px">Cancel your request</h3>
                        <p>
                            <ul>
                            <li>If you are not logged in, you must first log in.</li>
                            <li>Click on <i>Area Structure</i> or <i>Device Structure</i> tab in menu bar, 
                                        depending which structure you would like to cancel changes to.</li>
                            <li>Select a node or multiple nodes on which you requested changes from the tree view.</li>
                            <li>Open <i>Actions</i> menu.</li>
                            <li>Select <i>Cancel</i> option.</li>
                            </ul>         
                        </p>
                        <h3 style="margin-top: -1px; margin-bottom: 1px">Process requests</h3>
                        <p>
                            <ul>
                            <li>If you are not logged in, you must first log in and be authorised to process requests.</li>
                            <li>Click on <i>Area Structure</i> or <i>Device Structure</i> tab in menu bar, 
                                        depending which structure you would like to process requests to.</li>
                            <li>Select a node or multiple nodes to process requests for.</li>
                            <li>Open <i>Actions</i> menu.</li>
                            <li>Select <i>Approve</i> of <i>Reject</i> option.</li>
                            </ul>         
                        </p>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>

</ui:composition>