<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:form>
        <h:panelGrid styleClass="bannerGrid" columns="3" columnClasses="bannerImage,bannerNavigationColumn,bannerLoginColumn">
            <h:panelGroup layout="block">
                <a class="bannerLink" href="http://europeanspallationsource.se">
                    <h:graphicImage value="/resources/images/logo-white.png" />
                </a>
            </h:panelGroup>
            <h:panelGroup layout="block">
                <p:menubar styleClass="bannerNavigation">
                    <p:menuitem value="Home" url="/index.xhtml" styleClass="bannerNavigationButton" />
                </p:menubar>
            </h:panelGroup>
            <h:panelGroup id="loginInfoPanel" layout="block">
				<p:outputLabel value="#{loginController.welcomeMessage}" styleClass="bannerMarginText"/>
				<p:commandButton id="bannerLoginButton" value="Sign In" rendered="#{!loginController.loggedIn}" action="#{loginController.openLoginDialog()}" update="loginInfoPanel" styleClass="bannerButton"/>
				<p:commandButton id="bannerLogoutButton" value="Sign Out" rendered="#{loginController.loggedIn}" action="#{loginController.logout()}" update=":siteContainer" styleClass="bannerButton" />
			</h:panelGroup>
        </h:panelGrid>
    </h:form>
    <p:dialog header="Sign In" closeOnEscape="true" modal="true" resizable="false" showEffect="fade" hideEffect="fade" widgetVar="loginDialog">
		<ui:include src="login-dialog.xhtml"/>
	</p:dialog>
</ui:composition>