<ui:composition template="templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Help</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 5px">Help</h2>
                        Use the left hand side navigation tree to select a desired application and topic.
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>