<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:form id="loginForm">
        <p:panelGrid styleClass="noBorderPanelgrid">
            <p:row>
                <p:column styleClass="columnMiddleAlignment">
                    <p:outputLabel value="Username:" />
                </p:column>
                <p:column styleClass="columnMiddleAlignment">
                    <p:inputText id="usernameInput" value="#{loginController.username}"
                    	styleClass="inputFields" />
                </p:column>
            </p:row>
            <p:row>
                <p:column styleClass="columnMiddleAlignment">
                    <p:outputLabel value="Password:" />
                </p:column>
                <p:column styleClass="columnMiddleAlignment">
                    <p:password id="passwordInput" value="#{loginController.password}"
                    	converter="#{charArrayConverter}" styleClass="inputFields" />
                </p:column>
            </p:row>
            <p:row>
                <p:column />
                <p:column colspan="2">
                    <h:panelGroup layout="block" styleClass="rightCommandButtonPanel">
                        <p:commandButton id="dialogLoginButton"
                            action="#{loginController.login()}"
                            oncomplete="PF('loginDialog').hide()"
                            update=":siteContainer"
                            value="Login" styleClass="commandButton" />
                        <p:commandButton id="dialogLoginCancelButton" value="Cancel"
                        	action="#{loginController.cancel()}"
                            onclick="PF('loginDialog').hide()"
                            styleClass="commandButton" />
                    </h:panelGroup>
                </p:column>
            </p:row>
        </p:panelGrid>
    </h:form>
</ui:composition>