<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">IP Group Help</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">IP Group</h2>
                        <p>
                            <b>IPGroup</b> defines groups of IPs, which are used in <a
                                href="expression-help.xhtml">expression</a> formulation. One can
                            define the group "Control Room", which contains IPs or domain
                            names of all computers in the control room. This group can be
                            used in formulation of the expression: E: IP is in group
                            ControlRoom.
                        </p>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">IP Group
                            page</h2>
                        <p>IP Groups page allows browsing and editing the IP groups
                            defined in the RBAC. User is allowed define a new group or remove
                            an existing group as well as edit the name, description and
                            members of any group. It is possible to add any IP or DNS.</p>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>