<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Permissions Help</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Permission</h2>
                        <p>
                            <b>Permission</b> is a definition of a single action for which a
                            <a href="role-help.xhtml">role</a> can be authorised for. It is
                            uniquely defined by its name and always belongs to a <a
                                href="resource-help.xhtml">resource</a>. The permission can
                            specify a <a href="rule-expression-help.xhtml">rule</a>, which
                            defines additional constraints, which have to be evaluated,
                            whenever a client requests authorisation for the role. The
                            permission can also be marked to support exclusive access or not.
                        </p>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Permissions
                            page</h2>
                        <p>Permissions definitions tab provides means to manage
                            permissions.The definition tab allows user to select a resource
                            and to modify the permissions that belong to that resource (only
                            resource managers are allowed to make changes). The list of all
                            permissions (for the selected resource) is always displayed in
                            the list ordered alphabetically, search field is offered at the
                            top. Below are buttons to add new permission or to remove the
                            selected one. Further below one finds buttons to import and
                            export the permissions from or to a file. Using standard file
                            selector, user is able to select also the format of the output
                            (CSV files and excel files are supported). Only Resource Managers
                            are able to add, remove or edit the permissions of particular
                            resource. The right side of the screen displays and allows
                            editing of the selected permission. User is able to change
                            description, assign rules and assign the permission to rules.
                            Exclusive access information are also provided, with an option to
                            request or release the exclusive access.</p>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>