<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">PV Access Help</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Access
                            Security Group</h2>
                        <p>
                            <b>Access Security Group</b> defines the complete access security
                            group (ASG) as required by the EPICS access security. The name of
                            the ASG is the value of the ASG fields in the PVs. The group is
                            linked to the inputs which define the PVs that contribute to the
                            rules of this group and rules that define the access to the
                            group.
                        </p>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Access
                            Security Input</h2>
                        <p>
                            <b>Access Security Input</b> defines the input link for the
                            access security group. The link is composed of a PV name, input
                            index and associated with a group, where the input index
                            represents one of the 12 possible input links (1 is INPA, 2 is
                            INPB,... 12 is INPL). Group and index together form a unique key.
                        </p>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Access
                            Security Rule</h2>
                        <p>
                            <b>Access Security Rule</b> defines the rule for the group. Each
                            rule is associated with exactly one group, while a group can have
                            more than one rule. The rule specifies the level (0 or 1) and
                            permission (NONE, READ, WRITE). In addition, rule is assigned
                            several roles and several IPs and it defines the value of the
                            CALC field for the rule.
                        </p>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">PV Access
                            page</h2>
                        <p>PV Access page allows browsing and searching the list of
                            available access security groups. These are the groups of PVs for
                            which the same access security applies. Upon selecting a group in
                            the list its details are displayed in the main part of the
                            screen. The name and description are visible, user is allowed to
                            add, remove or change the order of input links (PVs that are used
                            in validation of the rule) and add, remove or edit the rules for
                            the group. When a new rule is being added, the user needs to
                            specify the name for the rule. The rule is added to the list of
                            rules. Upon selection of a rule in the list, the details of the
                            rule are shown below, where it is also possible to select the
                            level for the selected rule. A field is available to enter the
                            calculation equation. In addition, it is possible to add and
                            remove roles and ip groups.</p>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>