<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Resource Help</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Resource</h2>
                        <p>
                            <b>Resource</b> represents an RBAC protected resource that uses a
                            specific set of <a href="permission-help.xhtml">permissions</a>.
                            This object is used to structure the permissions and to allow for
                            easier management. Each resource is associated with a specific
                            set of user names, which represent the resource managers
                            (personnel that is allowed to manage the resource).
                        </p>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Resources
                            page</h2>
                        <p>
                            Resources page provides
                            a list of RBAC protected resources. These are the applications,
                            which rely on RBAC to provide the authorisation information when
                            executing different actions. The resource page allows adding or
                            removing resources or importing and exporting the data from/to a
                            file (CSV files and excel files are supported). The details part
                            of the page displays the name of the selected resource. It allows
                            editing the description and the list of managers who are allowed
                            to add/remove permissions for this resource.
                        </p>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>