<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Roles Help</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Role</h2>
                        <p>
                            <b>Role</b> is a definition of a <a href="user-role-help.xhtml">user
                                role</a> and is uniquely identified by its name. Each user in the
                            system can have any number of roles (including none) assigned to
                            him. By assigning the user a role, that user becomes the
                            representative of the role and automatically inherits everything
                            that the role is entitled to do. Role contains a list of <a
                                href="permission-help.xhtml">permissions</a>, which define, what
                            each particular role is allowed to do. Only designated role
                            managers can modify the settings related to the role.
                        </p>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Roles page</h2>
                        <p>The Roles page allows for management of roles. It provides
                            facilities to add, remove, inspect and edit roles. The page is
                            divided into two subpages.</p>
                        <ul>
                            <li>Definitions subpage allows roles definitions and
                                management</li>
                            <li>Matrix subpage is a convenient page to assign
                                permissions to multiple roles at once</li>
                        </ul>
                        <h3 style="margin-top: -1px; margin-bottom: 1px">Roles
                            definitions</h3>
                        <p>Roles definitions page displays a list of all roles
                            available in the system. The roles are ordered alphabetically,
                            search field is offered at the top. Below the list are buttons
                            that allow adding a new role or removing an existing one. Upon
                            selecting a role in the list, the details of that role are
                            displayed on the right. The name of the role is non-editable once
                            it is defined (it may only be changed by a designated
                            administrator, since the change of the role name might affect
                            many application in the facility). Below the name is the
                            description of the role, which can be edited. Managers list
                            displays all users that are allowed to manage the selected role.
                            It is possible to add a new manager by pressing the add button or
                            to remove the selected manager by pressing the remove button. In
                            a similar way functions the assignee list. The list displays all
                            users that are currently assigned the selected role. Upon
                            pressing the add button, new users can be assigned the role and
                            the remove button unassigns the role for the selected user. The
                            list shows users with any of the possible assignment type
                            (normal, limited, delegated). On the right side of the page a
                            table of permissions is displayed. The table shows all
                            permissions that the selected role has. The resources to which
                            the permissions belong to are also displayed. Buttons to add and
                            remove permissions are available at the bottom.</p>
                        <h3 style="margin-top: -1px; margin-bottom: 1px">Matrix</h3>
                        <p>Matrix display of roles and permissions allows for easier
                            comparison of roles as well as to quickly assign/unassign
                            permissions to roles. It is possible to choose a set of roles and
                            a set of resources. Selected roles form the columns of the grid;
                            permissions of selected resources represent the rows of the grid.
                            User can check the box in individual cell to assign the
                            permission to a role or uncheck to unassign it. All changes must
                            be confirmed to be persisted.</p>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>