<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Rules &amp; Expressions Help</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Rules &amp;
                            Expressions</h2>
                        <p>
                            Some permissions require additional <b>rules</b> that restrict
                            access to the actions that the <a href="permission-help.xhtml">permissions</a>
                            protects.These rules are defined by Expressions and Rules and are
                            stored in the database.
                        </p>
                        <h3 style="margin-top: -1px; margin-bottom: 1px">Rule</h3>
                        <p>
                            <b>Rule</b> is a definition additional restrictions or allowances
                            for <a href="permission-help.xhtml">permissions</a>. Some
                            permissions can be granted only when machine is in a certain
                            state, some permissions might be granted always if the request is
                            coming from a specified location (e.g. control room), regardless
                            of the <a href="role-help.xhtml">role</a> that is requesting
                            authorisation. In general, a rule is a set of <b>expressions</b>.
                        </p>
                        <h3 style="margin-top: -1px; margin-bottom: 1px">Expression</h3>
                        <p>
                            <b>Expressions</b> are combined using the AND, OR and NOT
                            operators. It is possible to evaluate any expressions to be true
                            or false, which eventually means that a <b>rule</b> can also be
                            evaluated to true or false.
                        </p>
                        <h3 style="margin-top: -1px; margin-bottom: 1px">Rules Page</h3>
                        <p>Rules page allows defining and editing rules. User is able
                            to choose among existing rules or add a new rule. Means to add or
                            remove expressions to the rule is provided and it is possible to
                            define the rule by entering a logical expression composed of the
                            related expressions. The table in the bottom displays all
                            permissions to which the current rule applies to. Any changes
                            done to the rule are persisted after the confirm button is
                            pressed.</p>
                        <h3 style="margin-top: -1px; margin-bottom: 1px">Expressions
                            Page</h3>
                        <p>Expression page allows defining new or editing existing
                            expressions that compose the rules. Any changes done to the
                            expression are persisted after confirm button is pressed.</p>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Expression
                            syntax</h2>
                        <p>In order for the RBAC to be able to evaluate the
                            expression, the expression syntax needs to follow specific rules.</p>
                        <ul>
                            <li><b>PV</b> <i>&lt;pv_name&gt;</i> [<i>=, &lt;, &gt;,
                                    !=, &lt;=, &gt;=</i>] <i>&lt;pv_value&gt;</i><br />
                                <p>This statement defines an expression, where the value of
                                    a PV is compared to a known value. Based on the operator the
                                    expression is evaluated to true or false.</p>
                                <ul>
                                    <li><i>&lt;pv_name&gt;</i> should be replaced by a real PV
                                        name</li>
                                    <li><i>&lt;pv_value&gt;</i> should be replaced by a known
                                        value to which we compare the current value of the <i>&lt;pv_name&gt;</i>
                                    </li>
                                </ul>
                                <p>Comparison is done according to one of the 6 possible
                                    operators.</p>
                                <ul>
                                    <li><i>=</i> equals</li>
                                    <li><i>&lt;</i> is less than</li>
                                    <li><i>&gt;</i> is greater than</li>
                                    <li><i>!=</i> is different than</li>
                                    <li><i>&lt;=</i> is less than or equals</li>
                                    <li><i>&gt;=</i> is greater than or equals</li>
                                </ul>
                                <p>Waveform type PVs cannot be used in expressions. When
                                    comparing a PV value to a string value, the string value has to
                                    be enclosed in quotes.</p>
                                <p>
                                    <i>Examples</i>
                                </p>
                                <ul>
                                    <li><b>PV</b> <i>SPOKE:QUAD:S1_10:GET_CURRENT &gt;=
                                            12.0</i><br />
                                        <p>Evaluate the value of the given PV and compare it to
                                            12.0; return true if the value is greater than or equals 12
                                            or return false if value is smaller than 12.</p></li>
                                    <li><b>PV</b> <i>SPOKE:QUAD:S1_10:STS_MAINS = "OK"</i><br />
                                        <p>Evaluate the value of the given PV and return true if
                                            the value is OK or return false if not OK.</p></li>
                                    <li><b>PV</b> <i>SPOKE:QUAD:S1_10:STS_MAINS.SEVR =
                                            "MAJOR"</i><br />
                                        <p>Evaluate the value of the SEVR field in the given PV
                                            and compares it to the MAJOR string</p></li>
                                </ul></li>
                            <li><b>PV</b> <i>&lt;pv_name_1&gt;</i> [<i>=, &lt;,
                                    &gt;, !=, &lt;=, &gt;=</i>] <i>&lt;pv_name_2&gt;</i><br />
                                <p>
                                    This statement defines a similar expression as in previous
                                    case, except that we compare the value of the <i>pv_name_1</i>
                                    to the value of the <i>pv_name_2</i>. Based on the operator the
                                    expression is evaluated to true or false. PV values should be
                                    of the same type.
                                </p>
                                <ul>
                                    <li><i>&lt;pv_name_1&gt;</i> should be replaced by a real
                                        PV name</li>
                                    <li><i>&lt;pv_name_2&gt;</i> should be replaced by a real
                                        PV name</li>
                                </ul>
                                <p>Comparison is done according to one of the 6 possible
                                    operators.</p>
                                <ul>
                                    <li><i>=</i> equals</li>
                                    <li><i>&lt;</i> is less than</li>
                                    <li><i>&gt;</i> is greater than</li>
                                    <li><i>!=</i> is different than</li>
                                    <li><i>&lt;=</i> is less than or equals</li>
                                    <li><i>&gt;=</i> is greater than or equals</li>
                                </ul>
                                <p>
                                    <i>Examples</i>
                                </p>
                                <ul>
                                    <li><b>PV</b> <i>SPOKE:QUAD:S1_10:GET_CURRENT &lt;
                                            SPOKE:QUAD:S1_11:GET_CURRENT</i><br />
                                        <p>Returns true if the value of current on quad S1_10 is
                                            less than value of current on quad S1_11</p></li>
                                </ul></li>

                            <li><b>IP</b> [<i>=, !=</i>] <i>&lt;ip&gt;</i><br />
                                <p>
                                    This statement defines an expression, where the IP of the
                                    client has to be equal or different from a known value. The <i>&lt;ip&gt;</i>
                                    can either be an IPv4 value or a hostname.
                                </p>
                                <ul>
                                    <li><i>&lt;ip&gt;</i> should be replaced by an IPv4 value
                                        or a hostname</li>
                                </ul>
                                <p>Comparison is done according to the 2 possible operators.</p>
                                <ul>
                                    <li><i>=</i> equals</li>
                                    <li><i>!=</i> is different than</li>
                                </ul>
                                <p>
                                    <i>Examples</i>
                                </p>
                                <ul>
                                    <li><b>IP</b> <i>= 10.5.2.135</i><br />
                                        <p>Returns true if the clients IP is equals to 10.5.2.135,
                                            otherwise it returns false.</p></li>
                                    <li><b>IP</b> <i>!= 10.5.3.234</i><br />
                                        <p>Returns true if the clients IP is different from
                                            10.5.3.234, if the same it returns false.</p></li>
                                    <li><b>IP</b> <i>= essnb100.esss.lu.se</i><br />
                                        <p>Returns true if the clients hostname is equals to
                                            essnb100.esss.lu.se, otherwise it returns false.</p></li>
                                </ul></li>
                            <li><b>IP</b> [<i>&#64;, !&#64;</i>] <i>&lt;ip_group&gt;</i><br />
                                <p>This statement defines an expression where the IP of the
                                    client has to be a member of the given IP group.</p>
                                <ul>
                                    <li><i>&lt;ip_group&gt;</i> should be replaced by an IP
                                        group name</li>
                                </ul>
                                <p>Comparison is done according to the 2 possible operators.</p>
                                <ul>
                                    <li><i>&#64;</i> client IP is an member of the IP group</li>
                                    <li><i>!&#64;</i> client IP is not an member of the IP
                                        group</li>
                                </ul>
                                <p>
                                    <i>Examples</i>
                                </p>
                                <ul>
                                    <li><b>IP</b> <i>&#64; controlroom</i><br />
                                        <p>Returns true if the clients IP is a member of the IP
                                            group called controlroom, otherwise it returns false.</p></li>
                                    <li><b>IP</b> <i>!&#64; controlroom</i><br />
                                        <p>Returns true if the clients IP is not a member of the
                                            IP group called controlroom, otherwise it returns false.</p></li>
                                </ul></li>
                        </ul>
                        <p>Similar to the expression syntax the Rule definition must
                            also follow a specific syntax.</p>
                        <ul>
                            <li>Rule definition should only use logical operators <i>AND
                                    (&amp;), OR (|) and NOT (!)</i>.
                            </li>
                            <li>Parenthesis are allowed in the definition</li>
                            <li>Unique expression names should be used in rule
                                definition.</li>
                        </ul>
                        <p>
                            <i>Example:</i>
                        <ul>
                            <li><i>(E0 | E1) &amp; E2</i><br />
                                <p>Returns true, if at least one of E0 and E1 is true, and
                                    if E2 is true as well</p></li>
                        </ul>
                        </p>
                        <br />
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>