<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Token Help</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Token</h2>
                        <p>
                            <b>Token</b> represents an active token that has been issued to a
                            client. Whenever a client is authenticated and a token is
                            generated the token has to be stored so it can be reused later.
                            Token contains information about the user/client (IP, <a
                                href="role-help.xhtml">roles</a>, username), whom the token was
                            generated for, the creation and expiration date. Though not
                            stored in the database (for security reasons) the digital
                            signature can be calculated by RBAC at any time and will be given
                            to the client, when the token is created.
                        </p>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Tokens page</h2>
                        <p>
                            Tokens page lists all
                            currently active tokens. The tokens are displayed in a grid
                            showing all relevant information about the token (username,
                            client IP, creation and expiration time, list of roles). Below
                            the grid are buttons, which are used to invalidate tokens. User
                            can invalidate selected token or all tokens. When token becomes
                            invalid (expired), it may not be removed from the table
                            immediately, but only after RBAC recognises that (during one of
                            the periodic check). Therefore, some invalid tokens might exist
                            in the database. Below the grid is a button that will remove all
                            invalid tokens from the database.
                        </p>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>