<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">User Roles Help</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">User Role</h2>
                        <p>
                            <b>User Role</b> represents an assignment of roles to users. Each
                            user is associated with one User Role per each of his roles. The
                            user may also not be assigned any role. The user inherits all
                            permissions that are assigned to any of his roles. The UserRole
                            object defines the details how the role is assigned to the user
                            (normal, limited, delegated assignment), expiration date if
                            applicable, the username of the delegator etc.
                        </p>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Users page</h2>
                        <p>The users page allows for management of user roles. The
                            page is divided into two subpages.</p>
                        <ul>
                            <li>Definitions subpage allows user roles definitions and
                                management</li>
                            <li>Permissions subpage shows the list of all permissions
                                that belong to the selected user.</li>
                        </ul>
                        <h3 style="margin-top: -1px; margin-bottom: 1px">Roles
                            definitions</h3>
                        <p>Users page allows browsing the list users from the
                            directory service. The list is ordered alphabetically by last
                            names and is searchable using the search field above the list.
                            Upon selecting a user, information about the selected user is
                            displayed. The information includes data from the DS (first name,
                            last name, contact, location) as well as data from the RBAC
                            database (roles, exclusive access). The data that comes from DS
                            is read only. The assigned roles table shows all roles that are
                            assigned to the selected user. The table shows the name of the
                            role, the type of assignment (normal, delegated, limited), the
                            name of the delegator (if applicable) and the start and end time
                            (in the case of delegated or limited role). Below the table are
                            buttons to manage the roles: it is possible to add a new role to
                            the user, remove the selected role, modify the selected role, and
                            to delegate the selected role to another user. At the bottom of
                            the Users page the currently active exclusive access for the
                            selected user is displayed. The table shows all permissions, for
                            which the user requested exclusive access and it has not yet
                            expired. The table displays the name of the permission, the
                            resource, which the permission belongs to and the expiration time.
                            Below the table are buttons to request a new exclusive access and
                            to release the one selected in the table. Release button will
                            release the selected exclusive access.</p>
                        <h3 style="margin-top: -1px; margin-bottom: 1px">Permissions</h3>
                        <p>Permissions subpage is the second part of the users page.
                            The screen displays a list of selectable users and upon selection
                            the right side of the screen shows the list of all permissions
                            that belong to the selected user through his roles. This is a
                            read only page.</p>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>