<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Adding new cable types to Approved Cable Types list</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Adding new
                            cable types to Approved Cable Types list</h2>
                        <p>This workflow describes the steps to register new cable
                            types that are approved to be uploaded by users into the CD.</p>
                        <ol>
                            <li><p>
                                    Go to the <a
                                        href="https://ess-ics.atlassian.net/wiki/display/ID/ICS+Software+Catalog">ICS
                                        Software Catalog</a> and navigate to <a
                                        href="https://cable.esss.lu.se/">Cable Database (CD)</a>.
                                    Login to the application using your LDAP credentials and from
                                    the menu navigate to <i>CABLE TYPES</i> view. Select <i>IMPORT
                                        APPROVED CABLE TYPES LIST...</i> and download the example Cable
                                    Type spreadsheet.
                                </p> <h:graphicImage library="images/cable" name="5.1.1.jpg"
                                    styleClass="resize" /></li>
                            <li><p>Enter new approved cable types into the
                                    spreadsheet.</p>
                                <p>The example spreadsheet is already populated with some
                                    example data. In the spreadsheet, each row represents one
                                    approved cable type, while the columns define the cable type
                                    attributes.</p> <h:graphicImage library="images/cable"
                                    name="5.1.2.jpg" styleClass="resize" />
                                <p>
                                    The first column specifies the import operation for the cable
                                    type defined in this row, and can be either <i>UPDATE</i>
                                    (default, adding/updating cable types) or <i>DELETE</i>
                                    (deleting cable types). For the initial import the default is
                                    used.
                                </p>
                                <p>
                                    The rest of the columns contain user entered cable type
                                    attributes. The mandatory attributes are marked with <i>*</i>.
                                </p>
                                <p>
                                    The <b>Cable Obsolete</b> column is not user editable and
                                    describes the whether this cable type was entered into the
                                    database, but then made obsolete.
                                </p>
                                <p>The mandatory user editable cable attributes are the
                                    following:</p>
                                <ul>
                                    <li><p>
                                            <b>Name</b> (String) - Cable Type name/code. This should be a
                                            short uppercase mnemonic that is unique. It must not contain
                                            slash characters (/).
                                        </p></li>
                                    <li><p>
                                            <b>Raceway</b> (Fixed enumeration) - The raceway types
                                            allowed for this cable type for the purpose of cable routing.
                                            Can be set to <i>NONE</i>, <i>CONDUIT ONLY</i>, <i>TRAY
                                                OR CONDUIT</i>, <i>RISER OR TRAY OR CONDUIT</i>, or <i>CUSTOM</i>.
                                        </p></li>
                                    <li><p>
                                            <b>Request#, Revision, Date</b> - Version information for
                                            this cable type. This is specified when adding the cable type
                                            for the first time and cannot be modified.
                                        </p>
                                        <ul>
                                            <li><p>
                                                    <b>Request#</b> (String) - The number of the request for
                                                    this cable type.
                                                </p></li>
                                            <li><p>
                                                    <b>Revision</b> (String) - The revision of the current
                                                    data.
                                                </p></li>
                                            <li><p>
                                                    <b>Date</b> (Date) - The date the cable type was requested.
                                                </p></li>
                                        </ul></li>
                                </ul>
                                <p>Optional cable type attributes do not need to be defined,
                                    and can be defined at a later point after the import. They are
                                    the following:</p>
                                <ul>
                                    <li><p>
                                            <b>Characteristics</b> (String) - Freeform text entry of
                                            cable type key characteristics. This can include keywords and
                                            tags to search by.
                                        </p></li>
                                    <li><p>
                                            <b>Service</b> (String) - Cable type service or function
                                            description.
                                        </p></li>
                                    <li><p>
                                            <b>Voltage</b> (String) - Cable type voltage rating. This can
                                            be an arbitrary string, but should contain meaningful groups.
                                            Open the drop down filter for this column in CD for a list of
                                            existing distinct values.
                                        </p></li>
                                    <li><p>
                                            <b>Insulation</b> (String) - Cable type insulation material.
                                            This can be an arbitrary string, but should contain
                                            meaningful groups. Open the drop down filter for this column
                                            in CD for a list of existing distinct values.
                                        </p></li>
                                    <li><p>
                                            <b>Jacket</b> (String) - Cable type jacket. This can be an
                                            arbitrary string, but should contain meaningful groups. Open
                                            the drop down filter for this column in CD for a list of
                                            existing distinct values.
                                        </p></li>
                                    <li><p>
                                            <b>Flammability</b> (String) - Cable type flammability
                                            classification. This can be an arbitrary string, but should
                                            contain meaningful groups. Open the drop down filter for this
                                            column in CD for a list of existing distinct values.
                                        </p></li>
                                    <li><p>
                                            <b>TID</b> (Numeric) - Total ionizing dose for the cable type
                                            (Mrad).
                                        </p></li>
                                    <li><p>
                                            <b>Weight</b> (Numeric) - Weight of the cable (kg per meter).
                                        </p></li>
                                    <li><p>
                                            <b>Diameter</b> (Numeric) - Outer diameter of the cable type
                                            (mm).
                                        </p></li>
                                    <li><p>
                                            <b>Specification</b> (URL) - Reference to the ESS
                                            specification document in the document repository. This
                                            specification is in use when the exact cable type and
                                            manufacturer are not known yet. There is a template document
                                            available that can be filled out for this purpose.
                                        </p></li>
                                    <li><p>
                                            <b>Model</b> (URL) - An URL to manufacturer and model
                                            document. Here an arbitrary link to a location or document
                                            where the information on manufacturer and cable type model is
                                            described. It is suggested that the link points to document
                                            copies stored in ESS document repository, as external links
                                            can change or become inaccessible.
                                        </p></li>
                                    <li><p>
                                            <b>Comments</b> (String) - Comment for the cable type. This
                                            can be arbitrary text.
                                        </p></li>
                                </ul></li>
                            <li>
                                <p>Import the Approved Cable Type spreadsheet.</p>
                                <p>
                                    Select <i>CHOOSE</i> in the upload dialog and navigate to the
                                    filled in spreadsheet file. Open it and select <i>UPLOAD</i>.
                                    After the spreadsheet is uploaded, the application displays a
                                    list of modifications that will be performed at import. If
                                    there are any issues with the data, an error will be reported
                                    detailing the issue. In this case, the error must be corrected
                                    on the request spreadsheet and the spreadsheet re-uploaded.
                                    When the whole spreadsheet is valid, the approved cable types
                                    can be imported into CD.
                                </p>
                            </li>
                        </ol>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>