<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">API Manual</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">API Manual</h2>
                        <p>
                            Java client API provides cable data read through the CD REST
                            service. The API provides cable instance and cable type data. The
                            API is read-only. The API is available under /rest folder under
                            the application root (example: <a
                                href="https://cable.esss.lu.se/rest">https://cable.esss.lu.se/rest</a>).
                        </p>
                        <p>The API provides the following public interface over HTTPS:</p>
                        <p:panelGrid style="text-align: left">
                            <f:facet name="header">
                                <p:row>
                                    <p:column>Name</p:column>
                                    <p:column>Method</p:column>
                                    <p:column>Resource ID</p:column>
                                    <p:column>Description</p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column>All cables</p:column>
                                <p:column>GET</p:column>
                                <p:column>/rest/cable</p:column>
                                <p:column>All cables in the database. The deleted cables are excluded.</p:column>
                            </p:row>
                            <p:row>
                                <p:column>Cable with the given number</p:column>
                                <p:column>GET</p:column>
                                <p:column>rest/cable/{NUMBER}</p:column>
                                <p:column>The cable data of the cable with the given number or an empty document in case the cable with the
                                            given number does not exist or was already deleted.</p:column>
                            </p:row>
                            <p:row>
                                <p:column>Cable type</p:column>
                                <p:column>GET</p:column>
                                <p:column>/rest/cableType</p:column>
                                <p:column>All approved cable types in
                                            the database. The obsoleted cables are excluded.</p:column>
                            </p:row>
                            <p:row>
                                <p:column>Cable type with the given name</p:column>
                                <p:column>GET</p:column>
                                <p:column>/rest/cableType/{NAME}</p:column>
                                <p:column>The cable type data of the
                                            approved cable type with the given name or an empty document in case the cable type with the given
                                            name does not exist or was already obsoleted</p:column>
                            </p:row>
                        </p:panelGrid>
                        <br />
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Examples</h2>
                        <ol>
                            <li><p>
                                    GET /rest/cable<br />No parameters.<br />Return:
                                </p>
                                <ul>
                                    <li><p>an xml containing all cables in the database.
                                            The deleted cables are excluded.</p> <pre>
&lt;collection&gt;
    &lt;cable&gt;
        &lt;number&gt;20F000001&lt;/number&gt;
        ...
    &lt;/cable&gt;
    &lt;cable&gt;
        &lt;number&gt;20F000002&lt;/number&gt;
        ...
    &lt;/cable&gt;
    ...
&lt;/collection&gt;
                        </pre></li>
                                </ul></li>
                            <li>
                                <p>
                                    GET /rest/cable/{NUMBER}<br />No parameters.<br />Return:
                                </p>
                                <ul>
                                    <li><p>an xml containing the cable data of the cable
                                            with the given number.</p> <pre>
&lt;cable&gt;
    &lt;number&gt;20F000001&lt;/number&gt;
    &lt;system&gt;2&lt;/system&gt;
    &lt;subsystem&gt;0&lt;/subsystem&gt;
    &lt;cableClass&gt;F&lt;/cableClass&gt;
    &lt;seqNumber&gt;1&lt;/seqNumber&gt;
    &lt;owner&gt;sunilsah&lt;/owner&gt;
    &lt;cableType&gt;
        &lt;name&gt;1C500TC6V&lt;/name&gt;
        ...
    &lt;/cableType&gt;
    &lt;endpointA&gt;
        &lt;device&gt;MEBT-BMD:QH-01&lt;/device&gt;
        &lt;building&gt;G02&lt;/building&gt;
        &lt;rack&gt;Rack 55&lt;/rack&gt;
        &lt;type /&gt;
        &lt;drawing&gt;http://example.org/&lt;/drawing&gt;
        &lt;label /&gt;
        &lt;validity&gt;VALID&lt;/validity&gt;
    &lt;/endpointA&gt;
    &lt;endpointB&gt;
        &lt;device&gt;MEBT-BMD:QH-02&lt;/device&gt;
        &lt;building&gt;G01&lt;/building&gt;
        &lt;rack /&gt;
        &lt;type /&gt;
        &lt;drawing&gt;http://example.org/&lt;/drawing&gt;
        &lt;label /&gt;
        &lt;validity&gt;VALID&lt;/validity&gt;
    &lt;/endpointB&gt;
    &lt;routing&gt;2&lt;/routing&gt;
    &lt;installationBy&gt;2015-03-01T00:00:00+01:00&lt;/installationBy&gt;
    &lt;terminationBy&gt;2015-03-10T00:00:00+01:00&lt;/terminationBy&gt;
    &lt;length&gt;1.2&lt;/length&gt;
    &lt;created&gt;2014-08-18T09:44:59.758+02:00&lt;/created&gt;
    &lt;modified&gt;2014-08-18T09:44:59.758+02:00&lt;/modified&gt;
    &lt;status&gt;APPROVED&lt;/status&gt;
    &lt;validity&gt;VALID&lt;/validity&gt;
&lt;/cable&gt;
                        </pre></li>
                                    <li><p>an empty document in case the cable with the
                                            given number does not exist or was already deleted</p></li>
                                </ul>

                            </li>
                            <li>
                                <p>
                                    GET /rest/cableType<br />No parameters.<br />Return:
                                </p>
                                <ul>
                                    <li><p>an xml containing all approved cable types in
                                            the database. The obsoleted cables are excluded.</p> <pre>
&lt;collection&gt;
    &lt;cableType&gt;
        &lt;name&gt;10C22OSTC&lt;/name&gt;
        ...
    &lt;/cableType&gt;
    &lt;cableType&gt;
        &lt;name&gt;10PR22OS_RS232&lt;/name&gt;
        ...
    &lt;/cableType&gt;
    ...
&lt;/collection&gt;
</pre></li>

                                </ul>

                            </li>

                            <li>
                                <p>
                                    GET /rest/cableType/{NAME}<br />No parameters.<br />Return:
                                </p>
                                <ul>
                                    <li><p>an xml containing the cable type data of the
                                            approved cable type with the given name.</p> <pre>
&lt;cableType&gt;
    &lt;name&gt;1C500TC6V&lt;/name&gt;
    &lt;characteristics&gt;Single Conductor, 500 AWG, Tray Cable
    &lt;/characteristics&gt;
    &lt;service&gt;Power Distribution Feeder&lt;/service&gt;
    &lt;voltage&gt;600&lt;/voltage&gt;
    &lt;insulation&gt;XHHW, CPE&lt;/insulation&gt;
    &lt;jacket&gt;None&lt;/jacket&gt;
    &lt;flammability /&gt;
    &lt;raceway&gt;TRAY_OR_CONDUIT&lt;/raceway&gt;
    &lt;tid&gt;100&lt;/tid&gt;
    &lt;model /&gt;
    &lt;comments /&gt;
    &lt;request /&gt;
    &lt;revision&gt;81&lt;/revision&gt;
    &lt;date&gt;2015-03-23T00:00:00+01:00&lt;/date&gt;
    &lt;active&gt;true&lt;/active&gt;
&lt;/cableType&gt;
</pre></li>
                                    <li>
                                        <p>an empty document in case the cable type with the given
                                            name does not exist or was already obsoleted</p>
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>