<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Deleting cables</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Deleting
                            cables</h2>
                        <p>
                            This workflow describes the steps to delete the cables present in
                            the <a href="https://cable.esss.lu.se/">Cable Database (CD)</a>.
                            This is used for example when the imported cables will not be
                            used, or when they will be replaced with other cables of
                            different type or connecting different endpoints.
                        </p>
                        <ol>
                            <li><p>
                                    Export cables to delete as described on the <a
                                        href="spreadsheet-data-exports.xhtml">spreadsheet data
                                        exports page</a>.
                                </p></li>
                            <li><p>
                                    Change the import operation in the first row of the cables from
                                    <i>UPDATE</i> to <i>DELETE</i>.
                                </p></li>
                            <li>
                                <p>Optionally, add the replacement cables.</p>
                                <p>
                                    The replacement cables can be added to the same spreadsheet,
                                    with import operation <i>UPDATE</i> and without assigned cable
                                    number. These cables will be added as new.
                                </p> <h:graphicImage library="images/cable" name="4.4.1.jpg"
                                    styleClass="resize" />
                            </li>
                            <li><p>Upload the spreadsheet.</p>
                                <p>
                                    After the spreadsheet is uploaded, the CD displays the
                                    information on which cables are to be deleted. Select <i>IMPORT</i>
                                    to confirm the delete operation.
                                </p> <h:graphicImage library="images/cable" name="4.4.2.jpg"
                                    styleClass="resize" /></li>
                        </ol>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>