<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Obsoleting cables on the approved cable list</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Obsoleting
                            cables on the approved cable list</h2>
                        <p>This workflow describes the steps to make an approved cable
                            type obsolete. After a cable type is obsolete, new cables of this
                            type cannot be imported. Old cables of this type are unaffected,
                            and can be replaced with new cables as appropriate.</p>
                        <ol>
                            <li><p>Export the list of approved cable types.</p> <h:graphicImage
                                    library="images/cable" name="5.2.1.jpg" styleClass="resize" /></li>
                            <li>
                                <p>
                                    In the spreadsheet, change the import operation in the first
                                    row of the cable types to obsolete from <i>UPDATE</i> to <i>DELETE</i>.
                                </p> <h:graphicImage library="images/cable" name="5.2.2.jpg"
                                    styleClass="resize" />
                            </li>
                            <li><p>Import the cable type spreadsheet to the CD and
                                    confirm the deletion.</p>
                                <p>
                                    By default, the cable types that were obsoleted are not visible
                                    in the <i>CABLE TYPES</i> view. To include obsoleted cables in
                                    the view, use the Show Cable Types filter.
                                </p> <h:graphicImage library="images/cable" name="5.2.3.jpg"
                                    styleClass="resize" /></li>
                        </ol>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>