<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Restoring cable type for use</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Restoring
                            cable type for use</h2>
                        <p>
                            As with the cable instances, the obsoleted cable types can be
                            restored for use, but with a new <b>Name/Code</b>. This can be
                            achieved by exporting the obsoleted cable type, updating the <b>Name/Code</b>
                            and the version information <b>(Request#, Revision, Date)</b>.
                            Cables of the old types have to be reimported with the new types
                            as well.
                        </p>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>