<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Spreadsheet data exports</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Spreadsheet
                            data exports</h2>
                        <p>
                            This workflow describes the steps to retrieve relevant data from
                            the database after the cables <a
                                href="uploading-cable-requests.xhtml">have been uploaded</a> to
                            the <a href="https://cable.esss.lu.se/">Cable Database (CD)</a>.
                        </p>
                        <ol>
                            <li><p>Filter the relevant data.</p>
                                <p>
                                    Use the filters on the <i>CABLES</i> view in CD to display the
                                    relevant subset of cable data. The filters that can be used are
                                    the following:
                                </p>
                                <ul>
                                    <li><p>
                                            <i>SEARCH ALL FIELDS</i>: Displays cables whose any attribute
                                            matches the text. This filter searches through all the table
                                            columns. This filter can be used for example to obtain all
                                            cables related to a given device or section.
                                        </p></li>
                                    <li><p>
                                            <i>FILTER BY MODIFIED DATE</i>: Displays cables which were
                                            modified in the given time interval. Selecting default values
                                            of the current day displays the cables that were imported or
                                            modified today. If the <i>FROM</i> or <i>TO</i> fields are
                                            left empty, the interval is open at that end.
                                        </p></li>
                                    <li><p>
                                            <i>SHOW CABLES WITH STATUS</i>: Displays cables based on
                                            their status:
                                        </p>
                                        <ul>
                                            <li><p>
                                                    <i>NON-DELETED</i>: Displays all current cables. This is
                                                    the default.
                                                </p></li>
                                            <li><p>
                                                    <i>DELETED</i>: Displays cables that were deleted at one
                                                    point.
                                                </p></li>
                                            <li><p>
                                                    <i>ALL</i>: Displays current and deleted cables.
                                                </p></li>
                                        </ul></li>
                                    <li><p>Column filters: Displays cables whose attribute
                                            in this column matches the given text. These filters searches
                                            by text in the corresponding columns. This is useful for
                                            filtering by owner, type, rack, user label and so on, or to
                                            filter by cable system/subsystem/class. For example, to
                                            display cables belonging to PSS system, enter the
                                            corresponding number in the System column filter. To display
                                            all high voltage cables, enter the corresponding letter to
                                            Class column filter. The subsystem/system/class descriptions
                                            are listed in the Cable numbering document.</p></li>
                                </ul> <h:graphicImage library="images/cable" name="4.2.1.jpg"
                                    styleClass="resize" /></li>
                            <li><p>Optionally manually select the data from the
                                    view.</p>
                                <p>To export a specific subset of the cables, select the
                                    cables in the table using left mouse button and ctrl/shift
                                    keys, or using checkboxes in the first column. If no cables are
                                    selected, all are exported.</p> <h:graphicImage
                                    library="images/cable" name="4.2.2.jpg" styleClass="resize" /></li>
                            <li>
                                <p>Export the filtered cables to a spreadsheet.</p>
                                <p>
                                    Select the <i>EXPORT CABLES...</i> button to export the
                                    filtered cables to a spreadsheet.
                                </p> <h:graphicImage library="images/cable" name="4.2.3.jpg"
                                    styleClass="resize" />
                            </li>
                        </ol>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>