<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Undeleting cables</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Undeleting
                            cables</h2>
                        <p>
                            Cable instances that were deleted in the <a
                                href="https://cable.esss.lu.se/">Cable Database (CD)</a> are not
                            removed from the database, but only marked as deleted. They can
                            be viewed in CD by setting the <i>SHOW CABLES WITH STATUS</i>
                            filter to <i>DELETED</i>. The cables cannot be undeleted
                            directly, as by process they have to have new cable numbers
                            assigned. However, other data can be reused by exporting the
                            deleted cables to spreadsheet, and reimporting it into the
                            database as new cables. To mark the cables in the spreadsheet as
                            new instances, only clear their cable numbers.
                        </p>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>