<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Updating Cable Data</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Updating
                            Cable Data</h2>
                        <p>
                            This workflow describes the steps to update the cable data after
                            it <a href="uploading-cable-requests.xhtml">has been imported
                                to the</a> <a href="https://cable.esss.lu.se/">Cable Database
                                (CD)</a>. This can be used for example to correct or add additional
                            data no yet specified when cables were first imported.
                        </p>
                        <ol>
                            <li>
                                <p>
                                    Export cables to update as described on the <a
                                        href="spreadsheet-data-exports.xhtml">spreadsheet data
                                        exports page</a>.
                                </p>
                            </li>
                            <li>
                                <p>Update the data in the downloaded spreadsheet.</p>
                                <p>
                                    Any data can be updated except for the data assigned by the CD,
                                    such as cable numbers, and data in the columns marked with <i>*</i>
                                    (see below for more detail). Cable numbers are used to
                                    associate the updated data with the existing cables in CD. In
                                    case the cable numbers are deleted, new cables are added to the
                                    CD instead of updating the existing ones.
                                </p>
                            </li>
                            <li>
                                <p>Upload the spreadsheet.</p>
                                <p>
                                    After the spreadsheet is uploaded, the CD displays the
                                    information on which cables are to be updated. Select <i>IMPORT</i>
                                    to confirm the updates.
                                </p> <h:graphicImage library="images/cable" name="4.3.1.jpg"
                                    styleClass="resize" /><br />
                                <p>
                                    Cable attributes marked with a <i>*</i> cannot be updated, as
                                    they form the defining attributes of the cable. If a change in
                                    these attributes is needed, such as cable type or endpoint,
                                    instead the cable should be deleted and a new cable added that
                                    will be assigned a new cable number.
                                </p>
                            </li>
                        </ol>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>