<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Uploading cable requests for the first time</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Uploading
                            cable requests for the first time</h2>
                        <ol>
                            <li><p>
                                    Go to the <a
                                        href="https://ess-ics.atlassian.net/wiki/display/ID/ICS+Software+Catalog">ICS
                                        Software Catalog</a> and navigate to <a
                                        href="https://cable.esss.lu.se/">Cable Database (CD)</a>.
                                    Login to the application using your LDAP credentials.
                                </p> <h:graphicImage library="images/cable" name="4.1.1.jpg"
                                    styleClass="resize" /></li>
                            <li><p>
                                    Select <i>IMPORT CABLE REQUEST...</i> and download the example
                                    Cable Request spreadsheet.
                                </p> <h:graphicImage library="images/cable" name="4.1.2.jpg"
                                    styleClass="resize" /></li>
                            <li><p>Fill in the Cable Request spreadsheet with cable
                                    data.</p>
                                <p>The Cable Request spreadsheet can be opened in a
                                    spreadsheet application such as Excel. The example spreadsheet
                                    is already populated with some example data. In the
                                    spreadsheet, each row represents one cable instance, while the
                                    columns define the cable attributes.</p> <h:graphicImage
                                    library="images/cable" name="4.1.3.jpg" styleClass="resize" />
                                <p>
                                    The first column specifies the import operation for the cable
                                    defined in this row, and can be either <i>UPDATE</i> (default,
                                    adding/updating cables) or <i>DELETE</i> (deleting cables). For
                                    the initial import the default is used. The Reserved for Cable
                                    Database columns are those that are populated by CD, and are
                                    not filled by users:
                                </p>
                                <ul>
                                    <li><b>Length</b> (m) - The calculated length of the
                                        cable. This data is populated when the routing information for
                                        the cables is present.</li>
                                    <li><b>Cable Number</b> (String) - The cable number. This
                                        number is assigned by the CD after the cable is imported for
                                        the first time.</li>
                                </ul>
                                <p>
                                    The rest of the columns contain user entered cable attributes.
                                    The mandatory attributes are marked with <i>*</i>.
                                </p>
                                <p>When populating data, if the wrong type or format of the
                                    attribute is entered, at import the CD will try to convert the
                                    types as appropriate, for example treating strings with digits
                                    as a number. However, this conversion can fail in certain
                                    circumstances, for example if the number is a string that
                                    represents a number in a non/English locale. In this case, the
                                    import will be rejected, and the attributes that are reported
                                    wrong have to be put into the correct format manually.</p>
                                <p>The mandatory cable attributes are the following:</p>
                                <ul>
                                    <li><p>
                                            <b>System</b> (Digit), <b>Subsystem</b> (Digit or Letter), <b>Cable
                                                class</b> (Letter) - Cable system, sub system and class define
                                            which system the cable is part of and how it is used. The
                                            possible values are listed in the Cable Numbering document
                                            that can be retrieved from the CD. The system, subsystem and
                                            cable class are used when CD creates a cable number for the
                                            cable instances. The cable class is also used when routing
                                            the cables. Each tray has cable class definition as well that
                                            specifies which cable classes can run through it. This way it
                                            is possible to avoid signal interference, for example by
                                            separating noise sensitive cables have to be separated from
                                            power cables.
                                        </p> <h:graphicImage library="images/cable" name="4.1.4.jpg"
                                            styleClass="resize" /> <br /> <h:graphicImage
                                            library="images/cable" name="4.1.5.jpg" styleClass="resize" /></li>
                                    <li><p>
                                            <b>Name</b> (String) - Name is the name of the user that is
                                            responsible for this cable, usually the same person that is
                                            performing the upload. This should be LDAP user name, the
                                            same that is used to log in to CD.
                                        </p></li>
                                    <li>
                                        <p>
                                            <b>Type</b> (String) - The type of the cable. The possible
                                            values are listed in CD by navigating to <i>CABLE TYPES</i>
                                            in the main menu, and inspecting the <i>NAME/CODE</i> column
                                            of the displayed cables, or by downloading all the approved
                                            cable types as a spreadsheet.
                                        </p> <h:graphicImage library="images/cable" name="4.1.6.jpg"
                                            styleClass="resize" /><br /> <h:graphicImage
                                            library="images/cable" name="4.1.7.jpg" styleClass="resize" />
                                    </li>
                                    <li>
                                        <p>
                                            <b>Endpoint A - Term. Device and Endpoint B - Term.
                                                Device</b> (String) - The names of the two endpoint devices that
                                            this cable connects. The names must be registered in the
                                            Naming system application or the cable import is not allowed.
                                            In the case cable has more than two endpoints, a primary
                                            device should be chosen for each end, and the rest of the
                                            details included in the drawing document (see below).
                                        </p>
                                    </li>
                                </ul>

                                <p>Optional attributes do not need to be defined, and can be
                                    defined at a later point after the import. They are the
                                    following:</p>

                                <ul>
                                    <li><p>
                                            <b>Routing</b> (String) - The routing value of this cable.
                                            Routing of the cables is performed by separate applications,
                                            while the resulting routing value is imported to CD to be
                                            available to CD client applications.
                                        </p></li>
                                    <li><p>
                                            <b>Installation By</b> (Date) - The date by which the
                                            installation of this cable is performed.
                                        </p></li>
                                    <li><p>
                                            <b>Termination By</b> (Date) - The date by which the cable is
                                            terminated.
                                        </p></li>
                                    <li><p>
                                            <b>Length</b> (Double) - The actual length of the cable in
                                            meters.
                                        </p></li>
                                    <li><p>
                                            <b>Endpoint A</b> and <b>Endpoint B</b> optional attributes:
                                        </p>
                                        <ul>
                                            <li><p>
                                                    <b>Building</b> (String) - The building where the endpoint
                                                    resides. This is a freeform entry that is not validated by
                                                    CD, and is not used in case this information of the device
                                                    is already stored in CCDB.
                                                </p></li>
                                            <li><p>
                                                    <b>Rack</b> (String) - The rack where the endpoint resides.
                                                    This is a freeform entry that is not validated by CD, and
                                                    is not used in case this information of the device is
                                                    already stored in CCDB.
                                                </p></li>
                                            <li><p>
                                                    <b>Type</b> (String) - The device port type. This is a
                                                    freeform entry that is not validated by CD.
                                                </p></li>
                                            <li><p>
                                                    <b>Drawing</b> (URL) - An URL link to a drawing document.
                                                    Here an arbitrary link to a location or document where more
                                                    information about the port and connection details can be
                                                    seen. It is suggested that the link points to documents
                                                    stored in ESS document repository, as external links can
                                                    change or become inaccessible.
                                                </p></li>
                                            <li><p>
                                                    <b>User Label Text</b> (String) - The user label of this
                                                    endpoint. This can be an arbitrary text that will also be
                                                    displayed in the printed cable labels. It must not be
                                                    longer than 45 characters.
                                                </p></li>
                                        </ul></li>
                                </ul></li>
                            <li>
                                <p>Upload the Cable Request spreadsheet.</p>
                                <p>
                                    Select <i>CHOOSE</i> in the upload dialog and navigate to the
                                    filled in spreadsheet file. Open it and select <i>UPLOAD</i>.
                                </p> <h:graphicImage library="images/cable" name="4.1.8.jpg"
                                    styleClass="resize" />
                                <p>After the spreadsheet is uploaded, the application
                                    displays a list of cables to be imported. If there are any
                                    issues with the data, for example a cable connecting to an
                                    unknown device, an error will be reported detailing the issue.
                                    In this case, no cables can be imported. The error must be
                                    corrected on the request spreadsheet and the spreadsheet
                                    re-uploaded. When the whole spreadsheet is valid, the cables
                                    can be imported into CD.</p> <h:graphicImage library="images/cable"
                                    name="4.1.9.jpg" styleClass="resize" /><br /> <h:graphicImage
                                    library="images/cable" name="4.1.10.jpg" styleClass="resize" />
                            </li>
                            <li>
                                <p>Confirm the import.</p>
                                <p>
                                    When request spreadsheet is without errors, the application
                                    provides the option to import the data. After import is
                                    complete, select <i>DOWNLOAD NUMBERED CABLE</i> <i>REQUEST</i>
                                    to retrieve the spreadsheet with the cable numbering data
                                    populated.
                                </p>
                                <p>When the import is complete, the owners of the cables as
                                    described in the spreadsheet are informed of the import by
                                    email. This is useful when the cable instances are imported by
                                    a non-owner, for example CD administrator. The delay with which
                                    the notification arrives is dependent on the current computer
                                    network conditions, but notification should normally be
                                    instantaneous. If the notification does not arrive within five
                                    minutes, contact the CD administrator.</p> <h:graphicImage
                                    library="images/cable" name="4.1.11.jpg" styleClass="resize" /><br />
                                <h:graphicImage library="images/cable" name="4.1.12.jpg"
                                    styleClass="resize" />
                            </li>
                        </ol>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>