<ui:composition template="../templates/help.xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">Uploading cables not on approved cable list</ui:define>

    <ui:define name="content">
        <h:form>
            <p:panelGrid id="helpPanelGrid" styleClass="noBorderPanelgrid">
                <p:row>
                    <p:column>
                        <h2 style="margin-top: -1px; margin-bottom: 1px">Uploading
                            cables not on approved cable list</h2>
                        <p>
                            When trying to import cables of new types that are not present in
                            the <a href="https://cable.esss.lu.se/">Cable Database (CD)</a>,
                            and therefore not approved, the import will fail with the error
                            of unknown cable type. In this case, the cable user should
                            contact the cable administrator to approve and add the new cable
                            type to CD. After the cable administrator adds the new cable type
                            to CD, the cable user can import cables of this type in the
                            standard way.
                        </p>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>