<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h:form>
        <p:panelMenu style="width:100%">
            <p:submenu label="Cable DB">
                <p:menuitem value="Uploading Cable Requests" url="/cable/uploading-cable-requests.xhtml"/>
                <p:menuitem value="Spreadsheet Data Exports" url="/cable/spreadsheet-data-exports.xhtml"/>
                <p:menuitem value="Updating Cable Data" url="/cable/updating-cable-data.xhtml"/>
                <p:menuitem value="Deleting Cables" url="/cable/deleting-cables.xhtml"/>
                <p:menuitem value="Undeleting Cables" url="/cable/undeleting-cables.xhtml"/>
                <p:menuitem value="Uploading Cables (Not Approved List)" url="/cable/uploading-cables-not-on-approved-cable-list.xhtml"/>
                <p:menuitem value="Adding New Cable Types (Approved List)" url="/cable/adding-new-cable-types-to-approved-cable-types-list.xhtml"/>
                <p:menuitem value="Obsoleting Cables (Approved List)" url="/cable/obsoleting-cables-on-the-approved-cable-list.xhtml"/>
                <p:menuitem value="Restoring Cable Type" url="/cable/restoring-cable-type-for-use.xhtml"/>
                <p:menuitem value="API Manual" url="/cable/api-manual.xhtml"/>
            </p:submenu>
            <p:submenu label="Naming Service">
                <p:menuitem value="User's Manual" url="/naming/user-manual.xhtml" />
            </p:submenu>
            <p:submenu label="RBAC">
                <p:menuitem value="User Role" url="/rbac/user-role-help.xhtml" />
                <p:menuitem value="Role" url="/rbac/role-help.xhtml" />
                <p:menuitem value="Permission" url="/rbac/permission-help.xhtml" />
                <p:menuitem value="Rule &amp; Expression" url="/rbac/rule-expression-help.xhtml" />
                <p:menuitem value="IP Group" url="/rbac/ipgroup-help.xhtml" />
                <p:menuitem value="Resource" url="/rbac/resource-help.xhtml" />
                <p:menuitem value="Token" url="/rbac/token-help.xhtml" />
                <p:menuitem value="PV Access" url="/rbac/pv-access.xhtml" />
            </p:submenu>
        </p:panelMenu>
        <script type="text/javascript">  
            $(document).ready(function(){
                $(".ui-panelmenu-content").css("display","block"); 
                $(".ui-panelmenu-header").addClass("ui-state-active"); 
                  $(".ui-icon-triangle-1-e").removeClass("ui-icon-triangle-1-e").addClass("ui-icon-triangle-1-s"); 
                  $('.ui-menuitem-link').each(function(){
                      if(window.location.pathname.indexOf($(this).attr('href')) != -1) {
                          $(this).css('background', '#79C9EC');
                          $(this).css('color', '#026890');
                         }
                  });  
            });        
        </script>
    </h:form>
</ui:composition>