/** Reset **/
body {
    background-color: #FDFDFD;
    color: #616161;
    font-size: 12px;
    margin: 0px;
    padding: 0;
}

h2 {
    color: #004155;
    margin-bottom: 0px;
    margin-top: 0px;
}

textarea {
    resize: none;
}

img.resize{
    width: 100%;
    height: auto;
}

/** Layout **/
.container {
    margin: 0 auto;
    width: 1280px;
}

.ui-menu .ui-menu-parent .ui-menu-child {
    width: 180px;
}

/** Layout **/
.maincontainer {
    margin: 0 auto;
    width: 800px;
}

.banner {
    color: #efefef;
    background-color: #2995c2;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 10px;
    padding: 8px 8px 8px 8px;
    font-size: 12px;
    font-weight: bold;
}

.content {
    height: 100%;
    margin-left: 200px;
    position: relative;
}

.contentWithoutMargin {
    height: 100%;
    position: relative;
}

.navigation {
    float: left;
    width: 180px;
}

/** Default styles **/
.noBorderPanelgrid {
    width: 100%;
}

.noBorderPanelgrid tr, .noBorderPanelgrid td, 
.noBorderPanelgrid .ui-panelgrid-cell {
    border: none;
    vertical-align: middle;
    padding-bottom: 5px;
}

.noBorderPanelgrid .columnTopAlignment {
    vertical-align: top;
}

.noBorderPanelgrid .columnMiddleAlignment {
    vertical-align: middle;
    font-weight: normal;
}

.noBorderPanelgrid .columnTopAlignmentText {
    vertical-align: top;
    padding-top: 9px;
}

.noBorderPanelgrid .withoutPadding {
    padding: 0;
}

.commandButton {
    width: 80px;
    margin-right: 1px;
    margin-left: 1px;
}

.commandButtonLarge {
    width: 160px;
}

.centerCommandButtonPanel {
    margin: auto;
    text-align: center;
}

.centerComponent {
    margin: auto;
    text-align: center;
}

.rightCommandButtonPanel {
    float: right;
}

.tableCommandButtonPanel {
    padding-right: 0px;
    padding-top: 7px;
    float: right;
}

.inputFields {
    width: 197px;
}

.mainListBox {
    height: 600px;
    width: 200px;
}

.calendar input {
    width: 200px;
}

/** Users **/
.calendar2 input {
    width: 98%;
}

.users-borderTable tr,.users-borderTable td {
    border: 1px solid #A6C9E2;
}

.userInfoFields {
    width: 306px;
}

/** Roles **/
.rolesColumn2ListBox {
    margin: auto;
    height: 152px;
    width: 200px;
}

.rolesPermissionTable {
    width: 510px;
}

.rolesPermissionTable tr,.rolesPermissionTable td {
    border: 1px solid #A6C9E2;
}

.rolesMatrixCommandButton {
    width: 160px;
    margin-right:2px;
}

/** PV Access Management **/
.pvAccessManagementListBox {
    margin: auto;
    height: 190px;
    width: 200px;
}

.pvAccessManagementListBoxLeft {
    height: 190px;
    width: 200px;
}

/** Primefaces components**/
.ui-dialog-buttonpane {
    border: none;
    float: right;
}

.ui-datatable table {
    text-align: center;
}

.ui-datatable .ui-datatable-footer {
    padding-right: 0;
}

.ui-orderlist .ui-orderlist-list {
    height: 192px;
    width: 200px;
}

.bannerGrid {
    width: 100%;
    margin: auto;
}

.bannerNavigationColumn {
    text-align: left;
}

.bannerLoginColumn {
    text-align: right;
}

.bannerImage {
    width: 115px;
}

.bannerMarginText {
    margin-top: 0px;
    margin-right: 24px;
    vertical-align: -1px;
}

.bannerButton {
    width: 80px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}

.bannerLink {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #2995c2;
}

.bannerNavigationButton .ui-menuitem-text {
    color: #ffffff;
}

.bannerNavigationButtonAdmin .ui-menuitem-text {
    color: #ffffff;
}

.bannerNavigationSubItem .ui-menuitem-text {
    color: #000000; 
}

.bannerNavigationButton {
    border: none;
    background: #2995c2;
    color: #ffffff !important;
    margin-right:10px !important;
}

.bannerNavigationButton .ui-icon {
    background-image:
        url("#{resource['primefaces-start:images/ui-icons_e0fdff_256x240.png']}");
}

.bannerNavigationButtonAdmin {
    border: none;
    background: #2995c2;
    color: #ffffff !important;
}

.bannerNavigationButtonAdmin .ui-icon {
    background-image:
        url("#{resource['primefaces-start:images/ui-icons_e0fdff_256x240.png']}");
}

.bannerNavigation {
    border: none;
    background: #2995c2;
    color: #ffffff !important;
}

/** Change the color of the expanded items in the panelMenu **/
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active
    {
    border: 1px solid #77d5f7;
    background: #6eac2c
        url("#{resource['images/ui-bg_glass_45_0078ae_1x400.png']}")
        50% 50% repeat-x;
    font-weight: normal;
    color: #ffffff;
}

.roundButton {
    border: 5px solid #1c408b;
    -moz-border-radius: 10ex;
    -webkit-border-radius: 10ex;
    -khtml-border-radius: 10ex;
    border-radius: 10ex;
    height: 250px;
    width: 250px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 275px;
    top: 230px;
}

.roundButtonSmall {
    border: 5px solid #1c408b;
    -moz-border-radius: 10ex;
    -webkit-border-radius: 10ex;
    -khtml-border-radius: 10ex;
    border-radius: 10ex;
    height: 150px;
    width: 150px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 325px;
    top: 180px;
}

.mainLabel {
    position: absolute;
    top: 0px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.welcomeLabel {
    position: absolute;
    top: 90px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.mainFooter {
    background: #2995c2;
    position: absolute;
    top: 710px;
    width: 100%;
    height: 65px;
}

.footerImage {
    position: relative;
    left: 5px;
    top: 5px
}

.footerVersionColumn {
    text-align: right;
    vertical-align: bottom;
}

.versionLabelText {
    color: #ffffff;
}

.ui-inputfield[readonly], .ui-inputfield[readonly].ui-state-focus, .ui-inputfield[readonly].ui-state-hover {
    border: 1px solid #a6c9e2 !important;
    -moz-box-shadow: inset 0 2px 2px #8f8f8f !important;
    -webkit-box-shadow: inset 0 2px 2px #8f8f8f !important;
    box-shadow: inset 0 2px 2px #8f8f8f !important;
    cursor: not-allowed !important;
    background-color: #F4F4F4;
}

.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}

.borderedDiv {
    border: 1px solid #a6c9e2;
}

.scrollless.ui-datatable .ui-datatable-scrollable-body{
    overflow-x: hidden !important;
}

.ui-datatable.scrollless thead th,
.ui-datatable.scrollless tbody,
.ui-datatable.scrollless tbody tr,
.ui-datatable.scrollless tbody td {
    border-style: none;
}
